Source: guh-rails
Maintainer: Simon Stürz <simon.stuerz@guh.guru>
Section: utils
Priority: optional
Homepage: https://guh.guru
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: guh-rails
Architecture: all
Depends: ${shlibs:Depends}, 
  ${misc:Depends},
  ruby2.0,
  ruby2.0-dev,
  unicorn,
  nodejs,
  ruby-sqlite3,
  build-essential
Description: server for home automation systems - rails
 'Gear Up your Home!' - Home automation server.
 guh is a home automation system aiming for easy integration of various
 existing home automation and controlling devices into a fully automated
 system.
